<div class="row">
  <div class="carousel carousel-slider">
    <% @cards.each do |card| %>
      <a class="carousel-item " >
        <div class="col s12 center">
          <div class="col l4"></div>
          <div class='col l4'>
            <div class="card sticky-action">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="activator"><%= image_tag(card.image.url, alt: 'Image',:width => 200, :height => 300) if card.image? %></div>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= card.front %><i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal valign-wrapper">
                <span class="card-title grey-text text-darken-4"><%= card.back %><i class="material-icons right">close</i></span>
                <button class="moveNextCarousel btn waves-effect waves-light " type="submit" name="action">Wrong</button>
                <button class="moveNextCarousel btn waves-effect waves-light" type="submit" name="action">Right</button>
              </div>
            </div>
          </div>
          <div class="col l4"></div>
        </div>
      </a>
    <% end %>
  </div>
</div>
